.time {
    color: white;
    font-size: 35vmax;
    font-family: Courier, 'Courier New', monospace;
    font-weight: bolder;
    -webkit-text-stroke: black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.climb {
    color: white;
    font-size: 10vmax;
    font-family: Courier, 'Courier New', monospace;
    font-weight: bold;
}

.information {
    color: white;
    font-size: 3vmax;
    font-family: Courier, 'Courier New', monospace;
    font-weight: bold;
}

.increment-button {
    color: green;
    background-color: white;
}

.decrement-button {
    color: red;
    background-color: white;
}

.timelow {
    color: red;
}

.transition {
    color: green;
}

body {
    background-color: black;
}

.black-background {background-color:black;}

.white {color:white;}
