.time {
    color: black;
    font-size: 35vmax;
    font-family: Courier, 'Courier New', monospace;
    font-weight: bolder;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.climb {
    color: black;
    font-size: 10vmax;
    font-family: Courier, 'Courier New', monospace;
    font-weight: bold;
}

.timelow {
    color: red;
}

.transition {
    color: green;
}
